.additional-catalog {
  min-width: 320px;
  width: 100%;
  border-top: $border;
}

@media (min-width: $tablet-width) {
  .additional-catalog {
    min-width: 768px;
    width: 100%;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog {
    min-width: 1440px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.additional-catalog__wrapper-title {
  min-width: 320px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .additional-catalog__wrapper-title {
    min-width: 768px;
    width: 100%;
    border-bottom: none;
  }
}

.additional-catalog__title {
  position: relative;
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 25px 40px 36px 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100000%;
    background-color: $basic-green;
    left: calc(100% - 33px);
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100000%;
    background-color: $basic-green;
    right: calc(100% + 20px);
  }
}

@media (min-width: $tablet-width) {
  .additional-catalog__title {
    width: 706px;
    margin: 0 auto 80px auto;
    padding: 0 30px;
    font-size: 36px;
    line-height: 36px;
    border: none;

    &::after {
      left: calc(100% - 300px);
    }

    &::before {
      right: calc(100% + 0px);
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__title {
    width: 1220px;
    margin-bottom: 81px;
    padding: 0;

    &::after {
      left: calc(100% - 845px);
    }

    &::before {
      right: calc(100% + 40px);
    }
  }
}

.additional-catalog__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .additional-catalog__list {
    width: 708px;
    min-height: 556px;
    padding: 0;
    margin: 0 auto 69px auto;
    box-sizing: border-box;
    border: 1px solid $gray;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__list {
    width: 896px;
    min-height: 288px;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.additional-catalog__gift {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .additional-catalog__gift {
    width: 768px;
    margin: 0 auto;
  }
}
