.additional-catalog {
  min-width: 320px;
  width: 100%;
  border-top: $border;
}

@media (min-width: $tablet-width) {
  .additional-catalog {
    min-width: 768px;
    width: 100%;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog {
    min-width: 1440px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.additional-catalog__wrapper-title {
  min-width: 320px;
  width: 100%;
  border-bottom: $border;
}

@media (min-width: $tablet-width) {
  .additional-catalog__wrapper-title {
    min-width: 768px;
    width: 100%;
    border-bottom: none;
  }
}

.additional-catalog__title {
  width: 280px;
  margin: 0 auto;
  display: block;
  padding: 25px 20px 36px 20px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  border-bottom: $border;
}

@media (min-width: $tablet-width) {
  .additional-catalog__title {
    width: 706px;
    margin: 0 auto 80px auto;
    padding: 0 30px;
    font-size: 36px;
    line-height: 36px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__title {
    width: 1220px;
    margin-bottom: 81px;
    padding: 0;
  }
}

.additional-catalog__list {
  width: 320px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .additional-catalog__list {
    width: 708px;
    padding: 0;
    min-height: 556px;
    margin: 0 auto 69px auto;
    border: 2px solid $gray;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog__list {
    width: 896px;
    min-height: 288px;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.additional-catalog__gift {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .additional-catalog__gift {
    width: 768px;
    margin: 0 auto;
  }
}
