.card {
  position: relative;
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 25px;
  box-sizing: border-box;
  padding: 0 0 25px 0;
}

@media (max-width: $mobile-width-only) {
  .card--line::after {
    position: absolute;
    content: "";
    top: 0;
    left: -500px;
    height: 1px;
    width: 100000%;
    background-color: $special-gray2;
  }
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: column;
    height: 430px;
    gap: 0;
    padding: 0 36px 49px 36px;
    background-color: $special-white;
  }
}

@media (min-width: $tablet-width) {
  .card:last-child {
    margin-bottom: 68px;
    background-color: $white;
    border: 1px solid $gray;
  }
}

@media (min-width: $desktop-width) {
  .card {
    height: 431px;
    gap: 0;
    padding: 0 30px 40px 35px;
    background-color: $gray;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .card:last-child {
    margin-bottom: 75px;
    background-color: $white;
    border: 1px solid $gray;
  }
}

.card__image {
  display: block;
  grid-column: 1/2;
  margin: 33px 36px 0 36px;
}

@media (min-width: $tablet-width) {
  .card__image {
    @include ziro-intends;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .card__pic {
    display: block;
    width: 161px;
    min-height: 172px;
    margin: -45px auto 34px auto;
  }
}

@media (min-width: $tablet-width) {
  .card__pic--big {
    display: block;
    width: 168px;
    min-height: 206px;
    margin: -73px auto 28px auto;
  }
}

@media (min-width: $desktop-width) {
  .card__pic {
    margin: -52px 11px 42px 8px;
  }
}

@media (min-width: $desktop-width) {
  .card__pic--big {
    display: block;
    width: 172px;
    min-height: 196px;
    margin: -73px 4px 46px 4px;
  }
}

.card__wrapper {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .card__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 252px;
    row-gap: 21px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .card__wrapper {
    grid-template-columns: 180px;
    margin-bottom: 33px;
  }
}

.card__title {
  width: 80px;
  margin-top: 19px;
  margin-bottom: 14px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special-black2;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .card__title {
    width: 170px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
  }
}

.card__title--intends {
  width: 170px;
}

@media (min-width: $tablet-width) {
  .card__title--intends {
    grid-column: 1/2;
    width: 316px;
    text-align: left;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .card__title {
    width: 145px;
    line-height: 21px;
  }
}

@media (min-width: $desktop-width) {
  .card__title--intends {
    grid-column: 1/2;
    width: 324px;
    text-align: left;
    margin: auto 0;
  }
}

.card__item {
  @include ziro-intends;
  position: relative;
  display: grid;
  grid-template-columns: 70px 70px;
  width: 140px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-gray;
}

@media (min-width: $tablet-width) {
  .card__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .card__item--intends::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .card__item--intends {
    grid-column: 2/3;
    width: 328px;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
  }
}

@media (min-width: $desktop-width) {
  .card__item--intends::after {
    display: none;
  }
}

.card__term {
  grid-column: 1/2;
}

@media (min-width: $tablet-width) {
  .card__term {
    position: relative;
    width: 126px;
    margin: 0;
    margin-bottom: 9px;
    border-bottom: $gray;

    &::after {
      position: absolute;
      content: "";
      top: calc(100% + 5px);
      left: 0;
      width: 250px;
      height: 1px;
      background-color: $special-gray;
    }
  }
}

@media (min-width: $tablet-width) {
  .card__term--modify {
    width: 225px;
    text-align: right;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .card__term {
    width: 90px;

    &::after {
      width: 169px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card__term--modify {
    width: 206px;
    text-align: left;
  }
}

.card__description {
  grid-column: 2/3;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .card__description {
    display: flex;
    justify-content: end;
    width: 126px;
    margin: 0;
    margin-bottom: 9px;
  }
}

@media (min-width: $desktop-width) {
  .card__description {
    width: 90px;
  }
}

.card__order {
  grid-column: 1/-1;
}

@media (min-width: $desktop-width) {
  .card__order {
    grid-column: 3/4;
  }
}

.card--other {
  position: relative;
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: "";
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/svg/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 40px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width-only) {
  .card--other {
    position: relative;
  }

  .card--other::after {
    position: absolute;
    content: "";
    top: 0;
    left: -500px;
    height: 1px;
    width: 100000%;
    background-color: $gray;
  }
}

@media (min-width: $tablet-width) {
  .card--other::before {
    width: 60px;
    height: 60px;
    padding: 0;
    margin-top: 52px;
  }
}

@media (min-width: $desktop-width) {
  .card--other::before {
    width: 60px;
    height: 60px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 49px;
  }
}

.card__view {
  display: block;
  margin: 0 auto 8px auto;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special-black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card__view {
    width: 134px;
    margin: 49px auto 23px auto;
  }
}

@media (min-width: $desktop-width) {
  .card__view {
    margin: 0 auto 23px auto;
  }
}

.card__text {
  margin: 0;
  margin-bottom: 21px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-gray;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card__text {
    width: 165px;
    margin: 0 auto 70px auto;
  }
}

.card--modify {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
  flex-grow: 1;
  width: 280px;
  margin: 0 20px;
  padding: 0;
  padding-bottom: 19px;
  border-bottom: 1px solid $gray;
}

.card--modify:nth-child(1n) {
  border-top: 1px solid $gray;
}

@media (min-width: $tablet-width) {
  .card--modify {
    display: grid;
    grid-template-columns: 316px 316px;
    row-gap: 25px;
    min-width: 704px;
    height: 139px;
    margin: 0;
    padding: 26px 38px 28px 38px;
    box-sizing: border-box;
    background-color: $white;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .card--modify:last-child {
    margin-bottom: 0;
    border: none;
    border-top: 1px solid $gray;
  }
}

@media (min-width: $desktop-width) {
  .card--modify {
    grid-template-columns: 324px 328px 244px;
    width: 896px;
    height: 72px;
    padding: 15px 0 17px 0;
    box-sizing: border-box;
    border-top: 1px solid $gray;
  }
}

@media (min-width: $desktop-width) {
  .card--modify:last-child {
    border: none;
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
  }
}

.card__item--grid {
  grid-template-columns: 140px 140px;
}

.card__item--intends {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .card__item--intends {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 316px;
    margin: 0;
  }
}

.card__description--location {
  margin: auto;
}

@media (min-width: $tablet-width) {
  .card__description--location {
    width: 91px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .card__description--location {
    display: flex;
    justify-content: center;
    width: 122px;
    margin: 0;
  }
}
