.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 26px;
}

.checkbox__control-label {
  @include font-oswald-small-fsize16;
  text-transform: uppercase;
  color: $black;
  margin: 10px  0 20px 35px;
}

.checkbox__control-mark {
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid $special-gray;
  cursor: pointer;
}

.checkbox__input[type="checkbox"]:checked + .checkbox__control-mark::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/svg/checkbox-arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 28%;
  left: 24%;
}
