.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 26px;
}

.checkbox__control-label {
  @include font-oswald-small-fsize16;
  display: block;
  margin: 10px  0 20px 44px;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: $tablet-width) {
  .checkbox__control-label {
    margin: 0;
    margin-left: 60px;
    font-size: 20px;
    line-height: 30px;
  }
}

.checkbox__control-mark {
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid $special-gray;
  cursor: pointer;
}

.checkbox__input[type="checkbox"]:checked + .checkbox__control-mark::before {
  position: absolute;
  content: "";
  top: 28%;
  left: 24%;
  width: 18px;
  height: 14px;
  background-image: url("../img/svg/stack/stack.svg#checkbox-tick");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox__input[type="checkbox"]:hover ~ .checkbox__control-mark {
  border: 1px solid #bababa;
}

.checkbox__input[type="checkbox"]:focus ~ .checkbox__control-mark {
  outline: 2px solid $special-dark-gray;
}


.checkbox__input[type="checkbox"]:disabled ~ .checkbox__control-mark {
  opacity: 0.3;
}

.checkbox__input[type="checkbox"]:disabled ~ .checkbox__control-label {
  opacity: 0.3;
}
