.contacts {
  display: grid;
  grid-template-columns: 119px 1fr;
  column-gap: 20px;
  width: 280px;
  margin: 0 auto;
  padding: 26px 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    width: 628px;
    padding: 56px 70px 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    content: "";
    top: 95px;
    left: 110px;
    width: 405px;
    padding: 60px 80px 0 80px;
    margin: 0;
    background-color: $white;
    min-height: 86px;
    z-index: 5;
  }
}

.contacts__welcome-title {
  @include ziro-intends;
  margin: auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 26px;
  text-transform: uppercase;
  color: $special-black;
}

@media (min-width: $tablet-width) {
  .contacts__welcome-title {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 63px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__welcome-title {
    width: 163px;
    margin-bottom: 56px;
  }
}

.contacts__address {
  @include ziro-intends;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 26px;
  color: $special-dark-gray;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    width: 160px;
    font-size: 16px;
    margin: 0;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    width: 155px;
    margin-bottom: 56px;
  }
}
