.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1440px;
  }
}
