.copyright {
  display: flex;
  flex-wrap: wrap-wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 22px 0 22px 0;
  text-decoration: none;
}

.copyright__link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $special-dark-gray;
}
