.field {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.field__label {
  @include font-oswald-small-fsize16;
  margin: 13px 13px 28px 0;
  text-transform: uppercase;
  color: $special-dark-gray;
}

@media (min-width: $tablet-width) {
  .field__label {
    margin: 10px 13px 32px 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .field__label--intends {
    margin: 10px 13px 12px 0;
  }
}

.field__input {
  @include font-oswald-small-fsize16;
  flex-grow: 1;
  padding: 14px 20px  13px 20px;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: $special-dark-gray;
  border: 1px solid $light-gray;
  cursor: pointer;
}

.field__input:hover {
  border: 1px solid $special-gray;
}

.field__input:focus {
  outline: 2px solid $special-dark-gray;
}

// .error {
//   border: 2px solid #ff8282;
// }

@media (min-width: $tablet-width) {
  .field__input {
    padding: 11px 20px  11px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.field__email {
  position: absolute; 
  content: "";
  width:20px;
  height:20px;
  mask-image: url("../img/svg/stack/stack.svg#email");
  background-color: $black;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  left: calc(100% - 32px);
  top: 13px;
}

.field__input:focus + .field__email{
  background-color: $basic-green;
}

.error > .field__email-error {
  background-color: $status-error;
}


@media (min-width: $tablet-width) {
  .field__email {
    left: calc(100% - 36px);
    top: 16px;
  }
}

.field__phone {
  position: absolute; 
  content: "";
  width:20px;
  height:20px;
  mask-image: url("../img/svg/stack/stack.svg#phone");
  background-color: $black;
  background-repeat: no-repeat;
  background-size: 20px 20px;
    left: calc(100% - 32px);
    top: 13px;
}

.field__input:focus + .field__phone{
  background-color: $basic-green;
}

.error > .field__phone-error{
  background-color:  $status-error;
}

@media (min-width: $tablet-width) {
  .field__phone {
    left: calc(100% - 36px);
    top: 16px;
  }
}

@media (min-width: $tablet-width) {
  .field__phone {
    left: calc(100% - 36px);
    top: 16px;
  }
}

@media (min-width: $desktop-width) {
  .field__input--intends {
    margin-bottom: 0;
  }
}
