.footer {
  @include ziro-intends;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .footer {
    min-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    position: relative;
    min-width: 1440px;
    background-color: $gray;
  }
}

.footer__socials {
  margin: 0;
}

.footer__copyright {
  margin: 0;
}

.footer__wrapper {
  width: 280px;
  margin: 0 auto;
  min-height: 236px;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    min-height: 34px;
    padding: 58px 30px 55px 30px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 57px 110px 58px 110px;
  }
}

.footer__logo {
  width: 280px;
}

@media (min-width: $desktop-width) {
  .footer__logo {
    display: inline-block;
    width: 128px;
    margin-right: 414px;
  }
}

@media (min-width: $tablet-width) {
  .footer--color1 {
    background-color: $special-white;
  }
}

.footer--color2 {
  background-color: $gray;
}
