.form {
  min-width: 320px;
  width: 100%;
  margin: 0;
  border-top: $border;
}

@media (min-width: $tablet-width) {
  .form {
    min-width: 768px;
    width: 100%;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .form {
    min-width: 1440px;
    width: 100%;
  }
}

.form__wrapper-title {
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .form__wrapper-title {
    width: 768px;
    padding: 0 70px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper-title {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.form__title {
  @include font-oswald-medium;
  width: 280px;
  padding: 27px 0 37px 0;
  margin: 0;
  color: $black;
}

@media (min-width: $tablet-width) {
  .form__title {
    width: 628px;
    margin: 33px 0 54px 0;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    width: 1220px;
    padding: 33px 0 0 0;
    margin: 0;
    margin-bottom: 56px;
  }
}

.form__description {
  @include font-oswald-small-fsize14;
  width: 226px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  text-transform: uppercase;
  color: $black;
}

@media (min-width: $tablet-width) {
  .form__description {
    width: 323px;
    margin-bottom: 66px;
    padding: 0 305px 0  0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__description {
    margin-bottom: 76px;
    padding: 0 1007px  0 0;
  }
}

.form__fieldset {
  position: relative;
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  border: none;
}

@media (max-width: $mobile-width-only) {
  .form__fieldset--line::after {
    position: absolute;
    content: "";
    top: 100%;
    left: -500px;
    height: 1px;
    width: 100000%;
    background-color: $gray;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    width: 630px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 72px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    width: 569px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 69px;
    border: none;
  }
}

.form__headerline {
  width: 320px;
  box-sizing: border-box;
  padding: 26px 111px 35px 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.form__headerline--pseudoelement1 {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100000%;
    background-color: $basic-green;
    left: calc(100% - 99px);
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100000%;
    background-color: $basic-green;
    right: calc(100% + 20px);
  }
}

.form__headerline--pseudoelement2 {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100000%;
    background-color: $basic-green;
    left: calc(100% - 158px);
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100000%;
    background-color: $basic-green;
    right: calc(100% + 20px);
  }
}

.form__headerline--modify {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100000%;
    background-color: $basic-green;
    left: calc(100% - 136px);
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 100000%;
    background-color: $basic-green;
    right: calc(100% + 20px);
  }
}

@media (min-width: $tablet-width) {
  .form__headerline {
    width: 628px;
    padding: 0 70px 0 70px;
    box-sizing: content-box;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $tablet-width) {
  .form__headerline--pseudoelement1 {
    position: relative;

    &::after {
      left: calc(100% - 145px);
    }

    &::before {
      right: calc(100% - 30px);
    }
  }
}

@media (min-width: $tablet-width) {
  .form__headerline--pseudoelement2 {
    position: relative;

    &::after {
      left: calc(100% - 478px);
    }

    &::before {
      right: calc(100% - 30px);
    }
  }
}

@media (min-width: $tablet-width) {
  .form__headerline--modify {
    margin-bottom: 57px;
    position: relative;

    &::after {
      left: calc(100% - 446px);
    }

    &::before {
      right: calc(100% - 30px);
    }
  }
}

@media (min-width: $desktop-width) {
  .form__headerline {
    width: 1220px;
    padding: 0 110px;
  }
}

@media (min-width: $desktop-width) {
  .form__headerline--pseudoelement1 {
    position: relative;

    &::after {
      left: calc(100% - 778px);
    }

    &::before {
      right: calc(100% - 70px);
    }
  }
}

@media (min-width: $desktop-width) {
  .form__headerline--pseudoelement2 {
    position: relative;

    &::after {
      left: calc(100% - 1108px);
    }

    &::before {
      right: calc(100% - 70px);
    }
  }
}

@media (min-width: $desktop-width) {
  .form__headerline--modify {
    position: relative;

    &::after {
      left: calc(100% - 1078px);
    }

    &::before {
      right: calc(100% - 70px);
    }
  }
}

.form__container {
  width: 280px;
  margin: 24px 0 28px 0;
}

@media (min-width: $tablet-width) {
  .form__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 631px;
    padding: 0 70px 0 67px;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    justify-content: start;
    width: 1220px;
    padding: 0 110px;
    margin-bottom: 72px;
  }
}

.form__note {
  padding: 0 20px;
  margin: 21px auto 32px auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__note {
    width: 284px;
    margin: 0 0 0 64px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__note {
    @include ziro-intends;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--intends1 {
    width: 628px;
    min-height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--intends1 {
    width: 569px;
    margin-bottom: 75px;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--intends2 {
    margin-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--intends2 {
    margin-bottom: 67px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset-wrapper {
    display: grid;
    grid-template-columns: 569px 570px;
    column-gap: 80px;
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .form__radio-wrapper {
    width: 628px;
    min-height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .form__radio-wrapper {
    width: 570px;
    min-height: 200px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset--modify {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--modify {
    display: block;
    width: 1440px;
    margin: 0 auto;
    padding: 0;
  }
}
