.form__title {
  @include font-oswald-medium;
  padding: 27px 20px 37px 20px;
  margin: 0;
  border-top: $border;
  color: $black;
}

.form__description {
  @include font-oswald-small-fsize14;
  margin: 0;
  margin-bottom: 39px;
  padding: 0 74px 0 20px;
  text-transform: uppercase;
  color: $black;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: $border;
}

.form__headerline {
  padding: 26px 111px 35px 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.form__container {
  width: 280px;
  margin: 24px auto 28px auto;
}

.form__note {
  padding: 0 20px;
  margin: 21px auto 32px auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin: 33px 0 54px 0;
    padding: 0 70px;
    border: none;
  }

  .form__description {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    padding: 0 375px 0  70px;
  }

  .form__fieldset {
    border-bottom: none;
    margin-bottom: 72px;
  }

  .form__fieldset--intends1 {
    margin-bottom: 75px;
  }

  .form__fieldset--intends2 {
    margin-bottom: 65px;
  }

  .form__headerline {
    width: 668px;
    padding: 0 30px 0 70px;
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__headerline--modify {
    margin-bottom: 57px;
  }

  .form__container {
    width: 626px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 71px;
    margin: 0;
    align-items: center;
  }

  .form__note {
    margin: 0 102px  0 64px;
    text-align: center;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__title {
    padding: 33px 110px 0 110px;
    margin-bottom: 56px;
  }

  .form__description {
    margin-bottom: 76px;
    padding: 0 1007px  0 110px;
  }

  .form__fieldset-wrapper {
    display: grid;
    grid-template-columns: 596px 570px;
    column-gap: 80px;
    padding: 0 110px;
  }

  .form__fieldset {
    margin-bottom: 69px;
  }

  .form__radio-wrapper {
    margin: 0;
    width: 570px;
    min-height: 196px;
  }

  .form__headerline {
    width: 1220px;
    padding: 0 110px;
  }

  .form__fieldset--intends2 {
    margin-bottom: 67px;
  }

  .form__container {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 110px;
    margin: 0;
    align-items: center;
    justify-content: start;
  }

  .form__note {
    margin: 0;
    padding: 0;
  }
}
