.group {
  margin: 0;
  padding: 0 20px 11px 20px;
  list-style-type: none;
}

.group--intends {
  padding: 27px 20px 25px 20px;
}

@media (min-width: $tablet-width) {
  .group {
    margin: 0;
    padding: 0 67px 0 71px;
  }

  .group--radio {
    padding: 25px 28px 25px 28px;
    border: 1px solid $light-gray;
  }

  .group__radio-wrapper {
    width: 630px;
    min-height: 196px;
    margin: 0 67px 0 71px;
  }

  .group--checkbox {
    display: grid;
    grid-template-columns: 344px 287px;
    row-gap: 32px;
    padding: 0 67px 0 70px;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .group {
    @include ziro-intends;
  }

  .group--radio {
    padding: 25px 28px 25px 28px;
    border: 1px solid $light-gray;
  }

  .group--modify {
    display: grid;
    grid-template-columns: 569px 572px;
    column-gap: 78px;
    padding: 0 110px;
  }

  .group--checkbox {
    display: grid;
    grid-template-columns: 305px 305px 305px 305px;
    column-gap: 20px;
    padding: 0 110px;
    margin-bottom: 61px;
  }
}
