.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  padding: 7px 44px;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  background-color: $basic-green;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 100002;
  cursor: pointer;
}

.link:hover {
  background-color: #5eaa2f;
}

.link:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .link {
    position: absolute;
    top: calc(100% - 570px);
    left: calc(100% - 610px);
    padding: 14px 26px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .link {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 244px;
    padding: 14px 26px;
    box-sizing: border-box;
    height: 54px;
    order: 1;
  }
}
