.map__static-image {
  display: block;
  width: 320px;
  min-height: 362px;
  object-fit: contain;
}

.map__interactive-map {
  width: 320px;
  min-height: 362px;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
    min-height: 400px;
  }

  .map__static-image {
    display: block;
    width: 768px;
    min-height: 400px;
    object-fit: cover;
  }

  .map__interactive-map {
    width: 768px;
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1440px;
    min-height: 400px;
  }

  .map__static-image {
    display: block;
    width: 1440px;
    height: 400px;
    object-fit: cover;
  }

  .map__interactive-map {
    width: 1440px;
    min-height: 400px;
  }
}
