.nav {
  position: relative;
  min-height: 65px;
}

@media (min-width: $tablet-width) {
  .nav {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: auto 0;
  }
}

@media (min-width: $desktop-width) {
  .nav {
    width: 478px;
    height: 40px;
    padding: 37px 110px 42px  130.5px;
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .nav--color {
    background-color: $white;
  }
}

.nav__list {
  position: absolute;
  top: 55px;
  right: -5px;
  display: none;
  min-width: 320px;
  text-align: center;
  background-color: $white;
  z-index: 1001;
}

@media (min-width: $tablet-width) {
  .nav__list {
    position: static;
  }
}
