.programs {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .programs {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}

.programs__list {
  @include ziro-intends;
  display: grid;
  grid-template-columns: 280px;
  min-height: 266px;
  row-gap: 20px;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .programs__list {
    @include ziro-intends;
    grid-template-columns: 708px;
    row-gap: 30px;
    min-height: 372px;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    margin-bottom: 71px;
  }
}

.programs__item {
  background-color: $special-white;
}

.programs__title {
  position: relative;
  margin: 30px 79px 29px  91px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: calc(100% - 42px);
    left: calc(100% - 178px);
    width: 50px;
    height: 50px;
    background-color: $green;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .programs__title::before {
    top: calc(100% - 35px);
    left: calc(100% + 50px);
    width: 200px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .programs__title::before {
    top: calc(100% - 60px);
    left: calc(100% - 480px);
    width: 100px;
    height: 100px;
  }
}

.programs__title--cat1::after {
  position: absolute;
  content: "";
  top: calc(100% - 43px);
  left: calc(100% - 167px);
  width: 36px;
  height: 50px;
  background-image: url("../img/svg/cat-programs1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.programs__title--cat2::after {
  position: absolute;
  content: "";
  top: calc(100% - 30px);
  left: calc(100% - 188px);
  width: 67px;
  height: 28px;
  background-image: url("../img/svg/cat-programs2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .programs__title--cat1::after {
    top: calc(100% - 50px);
    left: calc(100% + 70px);
    width: 140px;
    height: 194px;
  }

  .programs__title--cat2::after {
    top: calc(100% + 0px);
    left: calc(100% - 0px);
    width: 268px;
    height: 112px;
  }
}

@media (min-width: $desktop-width) {
  .programs__title--cat1::after {
    top: calc(100% - 65px);
    left: calc(100% - 460px);
    width: 70px;
    height: 97px;
  }

  .programs__title--cat2::after {
    top: calc(100% - 35px);
    left: calc(100% - 500px);
    width: 134px;
    height: 56px;
  }
}

@media (min-width: $tablet-width) {
  .programs__title {
    @include font-oswald-medium;
    margin: 77px 316px 24px  53px;
  }
}

@media (min-width: $desktop-width) {
  .programs__title {
    margin: 77px 33px 73px  214px;
  }
}

.programs__description {
  @include font-lato;
  margin: 0 33px 23px 20px;
}

@media (min-width: $tablet-width) {
  .programs__description {
    margin: 0 316px 52px  52px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .programs__description {
    margin: 0 65px 23px  52px;
  }
}

.programs__link {
  display: block;
  margin: 19px  20px 22px 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .programs__link {
    display: block;
    margin: 0 316px 52px 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs__link {
    display: block;
    margin: 0 33px 55px 52px;
    font-size: 20px;
    line-height: 30px;
  }
}
