.programs {
  padding: 0 20px;
}

.programs__list {
  display: grid;
  grid-template-columns: 280px;
  min-height: 266px;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  background-color: $special-white;
}

.programs__title {
  margin: 30px 79px 29px  91px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;
}

.programs__description {
  @include font-lato;
  margin: 0 33px 23px 20px;
}

.programs__link {
  display: block;
  margin: 19px  20px 22px 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .programs {
    width: 708px;
    padding: 0 30px;
    margin: 0;
  }

  .programs__list {
    min-height: 372px;
    grid-template-columns: 708px;
    row-gap: 30px;
    margin: 0;
    padding: 0;
  }

  .programs__title {
    @include font-oswald-medium;
    margin: 77px 316px 24px  53px;
  }

  .programs__description {
    margin: 0 316px 52px  52px;
    font-size: 16px;
    line-height: 24px;
  }

  .programs__link {
    display: block;
    margin: 0 316px 52px 52px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 1220px;
    padding: 0 110px;
  }

  .programs__list {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    margin-bottom: 71px;
  }

  .programs__title {
    @include font-oswald-medium;
    margin: 77px 33px 73px  214px;
  }

  .programs__description {
    margin: 0 65px 23px  52px;
    font-size: 16px;
    line-height: 24px;
  }

  .programs__link {
    display: block;
    margin: 0 33px 55px 52px;
    font-size: 20px;
    line-height: 30px;
  }
}
