.site-list {
  @include ziro-intends;
  list-style-type: none;
}

.site-list__item {
  padding: 22px 70px 24px 70px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  color: $black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.site-list__link {
  color: $black;
  text-decoration: none;
}

.site-list__item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
  }

  .site-list__item {
    @include ziro-intends;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
  }

  .site-list__item:not(:last-child) {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 610px;
    background-color: $green;
  }

  .site-list--color {
    background-color: $white;
  }

  .site-list__item {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }

  .site-list__link {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }

  .site-list__current--color {
    color: $special-black;
  }

  .site-list__link--color {
    color: $special-black;
  }
}
