.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 23px 75px 23px 75px;
  list-style-type: none;
  border-bottom: $border;
}

@media (min-width: $tablet-width) {
  .socials {
    width: 132px;
    padding: 0;
    margin: 0;
    margin-right: 133px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .socials {
    width: 132px;
    padding: 0;
    margin: 0;
    margin-right: 383px;
    border: none;
  }
}
