.term {
  position: relative;

  &--pseudoelement1::after {
    position: absolute;
    content: "снижение\A  веса";
    width: 87px;
    display: block;
    top: calc(100% - 10px);
    right: calc(100% - 104px);
    white-space: pre;
    background-color: $gray;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $dark--gray;
    text-align: center;
    z-index: 2;
  }

  &--pseudoelement2::after {
    position: absolute;
    content: "затрачено\A  времени";
    width: 87px;
    display: block;
    top: calc(100% - 10px);
    right: calc(100% - 104px);
    white-space: pre;
    background-color: $gray;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $dark--gray;
    text-align: center;
    z-index: 2;
  }
}

@media (min-width: $tablet-width) {
  .term {
    position: relative;

    &--pseudoelement1::after {
      background-color: $white;
      right: calc(100% - 120px);
    }

    &--pseudoelement2::after {
      background-color: $white;
      right: calc(100% - 115px);
    }
  }
}

@media (min-width: $desktop-width) {
  .term {
    position: relative;

    &--pseudoelement1::after {
      content: "снижение  веса";
      width: 114px;
      background-color: $gray;
      right: calc(100% - 135px);
    }

    &--pseudoelement2::after {
      width: 142 px;
      content: "затрачено  времени";
      background-color: $gray;
      right: calc(100% - 110px);
    }
  }
}
