.toggle {
  display: flex;
  justify-content: end;
  padding: 0;
  background-color: $white;
  border: none;
  cursor: pointer;
}

.toggle__svg {
  display: block;
  margin: 24px 0 24px 0;
  stroke: $black;

  &:hover {
    stroke: lighten(#000000, 50%);
  }

  &:active {
    stroke: darken(#000000, 50%);
  }

  &:focus {
    border: #000000;
  }
}

@media (min-width: $tablet-width) {
  .toggle {
    display: none;
  }
}
