.advantages {
  min-width: 320px;
}

.advantages__title {
  @include font-oswald-big;
  padding: 0 20.5px;
  margin: 0;
  margin-bottom: 42px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20.5px 0 20.5px;
  margin-left: 80px;
  margin-bottom: 20px;
  list-style-type: none;
}

.advantages__list:last-child {
  margin-top: 0;
  margin-bottom: 49px;
}

.advantages__description {
  @include font-lato;
  width: 199px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

