.form__title {
  @include font-oswald-medium;
  padding: 27px 20px 37px 20px;
  margin: 0;
  border-top: $border;
  color: $black;
}

.form__description {
  @include font-oswald-small-fsize14;
  margin: 0;
  margin-bottom: 39px;
  padding: 0 74px 0 20px;
  text-transform: uppercase;
  color: $black;;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  border-bottom: $border;
}

.form__headerline {
  padding: 26px 111px 35px 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.form__container {
  width: 280px;
  margin: 24px auto 28px auto;
}

.form__note {
  padding: 0 20px;
  margin: 21px auto 32px auto;
  text-align: center;
}
