.gift {
  border-bottom: 1px solid #d9d9d9;;
}

.gift__wrapper {
  position: relative;
  margin: 35px 20px 35px 20px;
  background-color: rgba(104, 183, 56, 0.85);


  &::before {
    position: absolute;
    content: url("../img/catalog-bacground.png");
    opacity: 0.2;
    width: 280px;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.gift__description {
  padding: 186px 61px 43px 58px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  z-index: 1000;
}

