.logo__picture {
  display: block;
  padding: 12px 0 20px 16px;
}

.logo__text {
  display: block;
  padding: 23px 0 25px 0;
  margin-right: 65px;
  margin-left: 56px;
}

.logo--big-size {
  width: 128px;
  height: 24px;
}

.logo--indents {
  margin: 0 20px;
  padding: 39px 75px 32px 75px;
}

.logo--border {
  border-bottom: 1px solid #d9d9d9;
}

.logo__text--indents {
  margin: 0;
  padding: 0;
}

