.nav {
  position: relative;
}

.nav__list {
  display: none;
  min-width: 320px;
  position: absolute;
  background-color: #ffffff;
  z-index: 1001;
  top: 55px;
  right: -5px;
  text-align: center;
}

