.order {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 62px;
  padding: 10px 109px;
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;
}

.order--bacground {
  background-color: #f2f2f2;
}

.order--color {
  color: #444444;
}

.order--padding {
  padding: 10px 94px;
}

.order--intends {
  margin: 0;

}
